PORT=3000

BITRIX24_REGISTER_URL=https://rawajtech.bitrix24.com/rest/1/vke55tpksfpzd9dk/imconnector.register.json
BITRIX24_SEND_MESSAGES_URL=https://rawajtech.bitrix24.com/rest/1/0z46v7smtazqbv39/imconnector.send.messages.json
BITRIX24_LEAD_ADD_URL=https://rawajtech.bitrix24.com/rest/1/9pgrdwxdwy3ol1sw/crm.lead.add.json
BITRIX24_OPEN_CHANNEL_ID=7

# Optional: shared secret to validate Sendpulse webhook events
SENDPULSE_WEBHOOK_SECRET=
